Flask==2.3.2            # Flask for the web framework
Pillow==9.5.0           # For working with images (PIL)
transformers==4.30.2    # Hugging Face Transformers library
torch==2.2.0            # PyTorch (required for Transformers)
gtts==2.3.2             # Google Text-to-Speech
gunicorn==20.1.0
tokenizers==0.13.3
numpy==1.23.5
flask-cors
